/* Header.css */
.container{
    background-color: white;
    width: 100%;
    height: 300px;
    
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .header-logo {
    font-size: 24px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2982C4;
  }
  
  .logo-highlight {
    color: #f97316;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    color: #4b5563;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }
  
  .business-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .business-badge {
    background-color: #E55147;
    color: white;
    font-weight: bold;
    padding: 0px 8px;
    border-radius: 4px;
    position: absolute;
    top: -16px;
  }
  
  
  .login-button {
    background-color: #0476D7;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }
  
  .icon {
    color: gray;
    cursor: pointer;
  }
  
  /* Search Section */
.search-section {
  text-align: left;
  margin-top: 20px;
}

.search-section h2 {
  font-size: 20px;
  font-weight: bold;
}

.highlight {
  color: #2982C4;
}

.search-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.search-location {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  margin-right: 10px;
}

.search-location input {
  border: none;
  outline: none;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 5px;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 8px;
  flex-grow: 1;
}

.search-button {
  background-color: #FF5E09;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.search-button .icon {
  color: white;
}

